body{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* nav */

nav{
    height: 150px;
    width: 100%;
    padding-top: 50px;
}
.navbar-brand{
    height: 100px;
    width: 100px;
    padding-left: 50%;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li img{
    color: rgb(7, 7, 7);
    width: 70px;
    height: 70px;
    padding-right: 10%;
}

/*end of nav*/
.container-fluid{
    width: 100%;
    min-height: 100vh;
    background:#fcfcfc;
}
.col{
    padding-top: 4%;
}
.h1tag{
    padding-left: 15%;
    font-size: 70px;
    font-weight: bolder;
}
.h5tag{
    padding-left: 15%;
    color: rgb(82, 81, 81);
}
.h5tag::after{
    content: " ";
    height: 5px;
    width: 80px;
    background-color: red;
    border-radius: 6px;
    display: block;
    margin-top: 15px;
}
.ptag{
    padding-left: 15%;
    color: rgb(82, 81, 81);
    padding-top: 18px;
}
.button{
    padding-left: 15%;
    margin-top: 50px;
}
.button .btn{
    color: white;
    background: rgb(228, 114, 114);
    border-radius: 30px;
}
.hexagon{
    position: relative;
    width: 350px;
    height: 300px;
    margin-left: 25%;
    /* border-radius: 50px; */
    background: transparent;
    /* border-radius: 50%; */
    transform: rotate(120deg);
    overflow: hidden;

}
 .hexagon-inner{
    width: 100%;
    height: 100%;
    /* border-radius: 50px; */
    transform: rotate(-60deg);
    overflow: hidden;
    background:transparent;
    box-shadow: 0px 10px 0 lightgray;
}

.hexagon-inner-in{
    width: 100%;
    height: 100%;
    /* border-radius: 50px; */
    transform: rotate(-60deg);
    overflow: hidden;
    background-image: url("img2.jpg");
    box-shadow: 2px 10px 5px lightgray;
    background-size: contain;
    background-position: center;
    filter: grayscale(100%);
}
.image{
    float: right;
    margin-right: 12%;
    margin-top: -210px;
    z-index: 1000;
}
.image img{
    width: 100%;
    height: 100%;
}
